
<div style = "padding-top:300px">

<center>
    
    <form action="/submit" method="post">
        
        <h1 style = "color:{{color}}">{{status}}</h1>
    
    <input class = "frontbox" name = "codebox" placeholder = "Enter Giveaway Code">
    <br><br>
    <input class = "frontbox1" name = "namebox" placeholder = "Enter Twitch Username">
    <br><br>
    <button class = "frontbox2">Submit</button>
    
    {{#if alertmsg}}
    
    <h4 style = "color:red">{{alertmsg}}</h4>
    
    {{/if}}
    
    </form>
    
</center>

</div>

<footer class = "footerme"><marquee scrollamount="10">Thanks for watching the stream! | The giveaway code can be found on my <a style = "text-decoration:none" href = "https://twitch.tv/LiimbixTV">Stream Page!</a> | I do giveaways every 20 followers! | Tell your friends to follow and watch! | The winner picks their prize! Any gift/game card of their choice up to $10!</marquee></footer>