<div style = "padding-top:300px">

<center>
    
    <form action="/setcode" method="post">
    
    <input class = "frontbox" name = "newcodebox" placeholder = "Set New Code">
    <br><br>
    <button class = "frontbox2">Set</button>
    </form>
    
</center>

</div>