<div style = "padding-top:300px">

<center>
    
    <form action="/setcode" method="post">
        
    
    <input class = "frontbox" name = "newcodebox" placeholder = "Set New Code">
    <br><br>
    <button class = "frontbox2">Set</button>
    </form>
    
    <br>
    <a href = "/clearcode">clear current code (also users): {{code}}</a>
    
</center>

</div>

<br>

<div style = "padding:10px; background-color:#FFF">
    
    <center>
        
        {{#each gusers}}
        
        <h4>{{username}}</h4>
        
        {{/each}}
        
    </center>    
    
</div>