<div style = "padding-top:300px">

<center>
    
<h1 style = "color:#FFF">Thanks for your entry, good luck!</h1>


    <p style = "color:#FFF">If you win the giveaway, I will message you on Twitch and we will discuss the prize you wish to receive.</p>
    <p style = "color:#FFF">If I feel an account has been created with the intent of getting extra votes, I will re-choose the winner. Be fair!</p>
    
    

    
</center>

</div>